body{
	background: #FFF1D6 url(imagens/ruido.jpg);
   

   font-family: verdana,sans-serif;
   line-height: 1.6;
}

a{
text-decoration: none;
}

.container{

margin: 0 auto;
width: 990px;

}

.local{
border-color: #ccc #999 #999 #ccc;
border: 1px solid #ccc;
padding: 10px;
margin-bottom: 20px;
background: #fff;

}
.local h2{

border-bottom: 1px dashed #7E9f19;
margin: 0;

}
  .local a{

      color:royalblue;

     }
 h1 a: hover{

      
    text-decoration: none;
    background-color: #7e9f19;
      color: #FFF;
}

.local img{

   border: 2px solid blue;
   float :left;
   padding: 2px;
   margin: 10 10 0 0;
}

  h1 a{
     text-decoration: none;
      color: #7E9F19;
    }


    h1 a:hover{
      background-color: #7E9F19;
     color :#fff

    }

      img{
       
       border :1px solid greenyellow;
       float: left;
       margin: 10px 10px 0 0;
       padding: 2px;
      }

      .clear{

        clear: both;

      }

      .footer{
       font-size: 14px;
       text-align: center;
        color: gold;
        float: clear;
      }

      .barralateral{
     margin-top: 40px;
     background-color: #FFFBe4;
     border :1px solid greenyellow;
     padding :10px;
      }

      .barralateral h3{
         margin-top: 0;
        font-size: 14px;
      }

      .barralateral ol{
        font-size: 12px;

      }

       .content{
         width: 660px;
         float: left;
       }

      .barralateral{
        width: 260px;
        float: right;
      }